<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bhav Copy</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      {% verbatim %}
      <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Bhav Copy</a>
          <form class="d-flex" v-on:submit.prevent="onSubmit">
            <input
              class="form-control me-2"
              type="search"
              name="q"
              placeholder="Company Name"
              aria-label="Search"
              v-model="query"
            />
            <button class="btn btn-primary" type="submit">Search</button>
          </form>
        </div>
      </nav>
      <table class="table table-striped">
        <thead>
          <tr>
            <th v-for="col in info.cols">{{ col }}</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="row in info.rows">
            <td v-for="data in row">{{ data }}</td>
          </tr>
        </tbody>
        <caption v-if="csv_available">
          <form method="POST" v-bind:action="'/download/' + csv_available">
            <div class="container">
              <div class="row">
                <button class="btn btn-outline-primary" type="submit">
                  <i class="fa fa-download"></i>
                  Download CSV
                </button>
              </div>
            </div>
          </form>
        </caption>
      </table>
      {% endverbatim %}
    </div>
    <script>
      var vm = new Vue({
        el: "#app",
        data() {
          return {
            query: "",
            info: "",
            csv_available: ""
          };
        },
        methods: {
          onSubmit() {
            axios.get("/search?q=" + this.query).then(response => {
              this.info = response.data;
              this.csv_available = this.query;
            });
          }
        }
      });
    </script>
  </body>
</html>
